*{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

body{padding: 30px;}

input{width: 100%;font-size: 14px;}

.card{
    align-content:center ;
    border:1px solid grey; 
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
}
.card img{max-height: 170px;}
.card-grid{display:flex;flex-direction: row;flex-wrap: wrap;}