html,body{
    color: white;
    background-color: yellowgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button{
    font-size: 1.3rem;
    padding: 10px;
    margin-right: 35px;
}